<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/styles/main.css" />
</head>
<body>
	<div class="container">
	<%if(logged_in){%>
		<div class="link">
			<form action="/api/links" method="post">
				<input id="link" type="text" name="link" placeholder="link"/>
				<input id="name" type="text" name="name" placeholder="name" />
				<input id="hid" type="text" name="hid" placeholder="custom id" />
				<button type="submit">submit</button>
			</form>
		</div>
		<% links.forEach(link => { %>
				<div class = "link">
					<a href=<%=url+link.hid %>><%=link.name%></a>
					<p>clicks: <%=stats[link.hid] ? stats[link.hid].count : 0%></p>
					<form action="/api/link/<%=link.hid%>" method="delete">
					<input type="hidden" name="link" value=<%=""+link.hid%> />
					<button type="submit">delete</button>
					</form>
				</div>
		<% }) %>
	<%} else {%>
		<form action="/login" method="post">
			<input id="token" type="text" name="token" placeholder="token"/>
			<br/>
			<button type="submit">log in</button>
		</form>
		<p>This site is a personal use site created by the Grey Skies as a way to share shorter links. If you'd like to look at the code, you can do so <a href="https://github.com/greysdawn/links">here</a>.</p>
	<%}%>
	</div>
</body>